$v-font-family: "Lato", sans-serif;

$v-font-size: 14px;

$v-unit-size: 26px;
$v-unit-size--small: 20px;
$v-unit-size--tiny: 18px;

$v-layout-margin-top: 18px;
$v-layout-margin-right: 18px;
$v-layout-margin-bottom: 18px;
$v-layout-margin-left: 18px;
$v-layout-spacing-vertical: 7px;
$v-layout-spacing-horizontal: 6px;

@import "../valo/valo";
@import "../jamgo/export";
@import "../jamgo/forms";
@import "../jamgo/file-upload";


.fececTheme {
    @include valo;


	/* Chrome, Safari, Opera */
	@-webkit-keyframes opened_menu {
	    0%   {width: 50px;}
	    25%  {width: 100px;}
	    50%  {width: 150px;}
	    100% {width: 200px;}
	}

	/* Standard syntax */
	@keyframes opened_menu {
	    0%   {width: 50px;}
	    25%  {width: 100px;}
	    50%  {width: 150px;}
	    100% {width: 200px;}
	}

	/* Chrome, Safari, Opera */
	@-webkit-keyframes closed_menu {
	    0%   {width: 200px;}
	    25%  {width: 150px;}
	    50%  {width: 100px;}
	    100% {width: 50px;}
	}

	/* Standard syntax */
	@keyframes closed_menu {
	    0%   {width: 200px;}
	    25%  {width: 150px;}
	    50%  {width: 100px;}
	    100% {width: 50px;}
	}

	.login-header-title {
		font-size: 40px;
		text-align: center;
	}

	.jamgo-menu-group-closed:before {
		content: '\25B8\00a0';
	}

	.jamgo-menu-group-opened:before {
		content: '\25BE\00a0';
	}

	.v-button-j-maximize-restore {
		border: none;
		box-shadow: none;
		background: none;
	}

	.v-button-j-maximize-restore:after {
		content: none;
	}

}
